
<div class="bg-dark text-secondary">
<div class="container">
    
    <p class="float-end">
      <a href="#">Back to home </a>
    </p>
    <p class="mb-3"> App de héroes     <img src="../../../assets/img/marvel.png" height="50"
        width="60" />
    <img src="../../../assets/img/DC.jpg" height="50"
        width="60" /></p>

        <div class="col-md-4 d-flex align-items-center">
            <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
              <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"/></svg>
            </a>
            <span class="mb-3 mb-md-0 text-muted">&copy; 2022 Vicent Correcher, Inc</span>
          </div>
        

  </div>
</div>
