
<div>
        <div class="text-center container">
        <div class="row py-lg-5">
                <div class="col-lg-6 col-md-8 mx-auto">
                        <h1 class="fw-black">Álbum heróes Marvel y DC comics. </h1>
                        <p class="lead text-black">En esta app encontratás información muy útil y detallada de
                                tus héroes favoritos.</p>
                        <p>
                                <a href="https://www.marvel.com/" class="btn btn-danger my-2"> <button type="button"> <img src="../../../assets/img/marvel.png" height ="80" width="100" /></button></a>
                                <a href="https://www.dc.com/comics" class="btn btn-info my-2 ms-2"><button type="button"> <img src="../../../assets/img/DC.jpg" height ="80" width="100" /></button></a>
                        </p>
                </div>
        </div>
</div>
</div>