

<div class="logo py-lg-5"> </div>

<div class="bg-dark text-secondary px-4 py-5 text-center">
        <div class="py-5">
                <h1 class="display-5 fw-bold text-white">Heróes Marvel y DC comics</h1>
                <div class="col-lg-6 mx-auto">
                        <p class="fs-5 mb-4">En esta app encontrarás información útil y detallada de
                                tus héroes favoritos.</p>
                        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                                <a href="https://www.marvel.com/" class="btn btn-danger my-2 ms-2"> <button type="button">
                                                <img src="../../../assets/img/marvel.png" height="80"
                                                        width="110" /></button></a>
                                <a href="https://www.dc.com/comics" class="btn btn-info my-2 ms-2"><button
                                                type="button"> <img src="../../../assets/img/DC.jpg" height="95"
                                                        width="95" /></button></a>
                        </div>
                </div>
        </div>
</div>


<div class="logo-invertido py-lg-5"> </div>


